.image {
  width: 100%;
  object-fit: cover;
  height: 25rem;
}

.title {
  font-size: 36px;
  line-height: 40px;
  color: var(--text-100);
  font-weight: 700;
  margin-bottom: 8px;
}

.description {
  margin: 0;
  color: var(--text-200);
  font-size: 16px;
  line-height: 24px;
  white-space: nowrap; /* 防止文本换行 */
  overflow: hidden; /* 隐藏溢出的内容 */
  text-overflow: ellipsis; /* 使用省略号表示被隐藏的文本 */
}

@media (max-width: 767px) {
  .image {
    height: auto;
  }
  .title {
    font-size: 24px;
    line-height: 32px;
  }
  .description {
    margin-bottom: 16px;
  }
}
