.cueWords {
  font-size: 24px;
  line-height: 140%;
  font-weight: 700;
  color: var(--accent-100);
  margin-bottom: 40px;
}

.postContainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 32px;
}

@media (max-width: 767px) {
  .cueWords {
    margin-bottom: 0;
  }

  .postContainer {
    display: block;
  }
}
