.navbar {
  background-color: var(--primary-100);
  padding: 24px 64px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 40px;
}

.mobileNavContainer {
  display: none;
}

.mobileNavIcon {
  color: var(--accent-200);
}

.navListContainer {
  display: flex;
  align-items: center;
  gap: 32px;
}

.navList {
  display: flex;
  align-items: center;
  gap: 32px;
  font-weight: 700;
  color: var(--text-main);
}

.navItems {
  cursor: pointer;
}
.navItems:last-child {
  display: flex;
  align-items: center;
  gap: 8px;
}

.navItems:hover {
  color: var(--accent-200);
}

.buttonContainer {
  display: flex;
  gap: 16px;
  color: var(--text-main);
}

.button {
  border-radius: 4px;
  padding: 8px 16px;
  font-weight: 700;
}

.buttonColored {
  border: 1px solid;
}

.buttonUncolored {
  background-color: var(--accent-200);
  color: white;
}

.button:hover {
  background-color: var(--accent-100);
}

.usernameContainer {
  display: flex;
  position: relative;
}

.username {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.logout {
  position: absolute;
  z-index: 999;
  margin-top: 56px;
  width: 100%;
}

@media (max-width: 767px) {
  .navbar {
    padding: 16px;
  }
  .mobileNavContainer {
    display: block;
  }
  .navListContainer {
    display: none;
  }

  .navList {
    flex-direction: column;
  }
  .mobileNavContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mobileButtonContainer {
    display: flex;
    align-items: center;
    margin-top: 16px;
    gap: 16px;
    color: var(--text-main);
  }
  .navList {
    flex-direction: column;
    gap: 16px;
  }
}
